<% layout('/layouts/boilerplate') %>

<h1 class="mt-3 text-center">All Items</h1>
<!-- <div><a href="/items/new">Create new</a></div> -->
<ul style="padding-left:0px">
<div class="d-flex flex-wrap justify-content-between">
  <% for (let item of items) {%>

  <div class="card  mb-5 bg-transparent border-0 ml-3" style="width: 8rem">
    <a class="link-dark" href="/items/<%= item._id %> ">
      
    <% if(item.image.length){ %>
    <img class="card-img-top rounded-circle" alt="" src="<%= item.image[0].url %> " />
    <% } else { %>
    <img
      class="card-img-top"
      alt=""
      src="https://res.cloudinary.com/dyoynbt7i/image/upload/v1677863515/cld-sample-5.jpg"
    />
    <% } %>
    </a>

    <div class="card-body">
      <h5 class="card-title"><%= item.title %></h5>
      

      
  <p class="card-text">
        <small class="text-mute">₹ <%= item.price %> </small>
      </p>
    </div>
  </div>


  <% } %>
</div>
</ul>
